<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
  <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="css/mdb.min.css">
</head>
<body>

<h2>HTML Forms</h2>

<form action="http://localhost:5000/submit" method='POST'>

  Subject:
  <input type="text" name="subject" value="Software Engg">
  <br>

  Date:
  <input type="date" name="date" value="12-12-2019">
  <br>

  Section 1
  1(a):<br>
  <input type="text" name="1a" value="A1"> Marks: <input type="text" name="marks1a" value="1"><br>
  1(b):<br>
  <input type="text" name="1b" value="B1"> Marks: <input type="text" name="marks1b" value="1"><br>
  1(c):<br>
  <input type="text" name="1c" value="C1"> Marks: <input type="text" name="marks1c" value="1"><br>
  1(d):<br>
  <input type="text" name="1d" value="D1"> Marks: <input type="text" name="marks1d" value="1"><br>
  1(e):<br>
  <input type="text" name="1e" value="E1"> Marks: <input type="text" name="marks1e" value="1"><br>
  <br>

  Section 2
  2(a):<br>
  <input type="text" name="2a" value="A2"> Marks: <input type="text" name="marks2a" value="1"><br>
  2(b):<br>
  <input type="text" name="2b" value="B2"> Marks: <input type="text" name="marks2b" value="1"><br>
  2(c):<br>
  <input type="text" name="2c" value="C2"> Marks: <input type="text" name="marks2c" value="1"><br>
  2(d):<br>
  <input type="text" name="2d" value="D2"> Marks: <input type="text" name="marks2d" value="1"><br>
  2(e):<br>
  <input type="text" name="2e" value="E2"> Marks: <input type="text" name="marks2e" value="1"><br>
  <br>

  Section 3
  3(a):<br>
  <input type="text" name="3a" value="A3"> Marks: <input type="text" name="marks3a" value="1"><br>
  3(b):<br>
  <input type="text" name="3b" value="B3"> Marks: <input type="text" name="marks3a" value="1"><br>
  3(c):<br>
  <input type="text" name="3c" value="C3"> Marks: <input type="text" name="marks3a" value="1"><br>
  3(d):<br>
  <input type="text" name="3d" value="D3"> Marks: <input type="text" name="marks3a" value="1"><br>
  3(e):<br>
  <input type="text" name="3e" value="E3"> Marks: <input type="text" name="marks3a" value="1"><br>
  <br>

  Section 4
  4(a):<br>
  <input type="text" name="4a" value="A4"> Marks: <input type="text" name="marks4a" value="1"><br>
  4(b):<br>
  <input type="text" name="4b" value="B4"> Marks: <input type="text" name="marks4b" value="1"><br>
  4(c):<br>
  <input type="text" name="4c" value="C4"> Marks: <input type="text" name="marks4c" value="1"><br>
  4(d):<br>
  <input type="text" name="4d" value="D4"> Marks: <input type="text" name="marks4d" value="1"><br>
  4(e):<br>
  <input type="text" name="4e" value="E4"> Marks: <input type="text" name="marks4e" value="1"><br>
  <br>


  Section 5
  5(a):<br>
  <input type="text" name="5a" value="A5"> Marks: <input type="text" name="marks5a" value="1"><br>
  5(b):<br>
  <input type="text" name="5b" value="B5"> Marks: <input type="text" name="marks5b" value="1"><br>
  5(c):<br>
  <input type="text" name="5c" value="C5"> Marks: <input type="text" name="marks5c" value="1"><br>
  5(d):<br>
  <input type="text" name="5d" value="D5"> Marks: <input type="text" name="marks5d" value="1"><br>
  5(e):<br>
  <input type="text" name="5e" value="E5"> Marks: <input type="text" name="marks5e" value="1"><br>
  <br>

  <input type="submit" value="Submit">
</form>


</body>
</html>
